<div class="container">
  <div class="row pt-5">
      <%= form_with model: @customer, url: customers_infomation_path, method: :patch do |f| %>

    <h4>会員登録情報編集</h4>
    <table>
      <tr>
        <td>名前</td>
        <td><%= f.label :name, "(姓)" %></td>
        <td><%= f.text_field :last_name, placeholder: "令和", autocomplete: "last_name" %></td>
        <td><%= f.label :name, "(名)" %></td>
        <td><%= f.text_field :first_name, placeholder: "道子", autocomplete: "first_name" %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.label :name, "(セイ)" %></td>
        <td><%= f.text_field :last_name_kana, placeholder: "レイワ", autocomplete: "last_name_kana" %></td>
        <td><%= f.label :name, "(メイ)" %></td>
        <td><%= f.text_field :first_name_kana, placeholder: "ミチコ", autocomplete: "first_name_kana" %></td>
      </tr>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td></td>
        <td><%= f.text_field :postcode, placeholder: "0000000", autocomplete: "postcode" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>住所</td>
        <td></td>
        <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", autocomplete: "adderss" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>電話番号(ハイフンなし)</td>
        <td></td>
        <td><%= f.text_field :phone_number, placeholder: "00000000000", autocomplete: "phone_number" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td></td>
        <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %></td>
        <td></td>
        <td></td>
      </tr>

    </table>
    <table>
      <div class="row">
        <div class="col-md-3 mt-3 mb-5">
          <%= f.submit "編集内容を保存", class: "btn btn-success ml-5" %>
          <% end %>
        </div>
        <div class="col-md-5 offset-md-2 mt-3 mb-5">
          <%= link_to"退会する",customers_path, class: "btn btn-outline-danger"%>


        </div>
      </div>


