<h1>商品詳細</h1>

<h5>商品の写真</h5>

<h5>商品名</h5>
<p><%= @item.name %></p>

<h5>商品説明</h5>
<p><%= @item.introduction %></p>

<h5>ジャンル</h5>
<p><%= @item.genre_id %></p>

<h5>税込価格(税抜価格)</h5>
<p><%= @item.price %>円</p>

<h5>販売ステータス</h5>
<p><%= @item.is_active %><p>



<%= link_to '編集する', edit_admin_item_path(@item.id) %>



