<h1>商品詳細</h1>

<%= image_tag @item.get_image %>

<h5>商品名</h5>
<p><%= @item.name %></p>

<h5>商品説明</h5>
<p><%= @item.introduction %></p>

<h5>ジャンル</h5>
<p><%= @item.genre.name %></p>

<h5>税込価格(税抜価格)</h5>
<p><%= @item.price %>円</p>

<h5>販売ステータス</h5>
<div class="font-weight-bold">
<% if @item.is_active == true %>
  <p class="text text-success">販売中</p>
<% else %>
  <p class="text text-secondary">販売停止中</p>
<% end %>
</div>

<%= link_to '編集する', edit_admin_item_path(@item.id), class: 'btn btn-success' %>


<h5>タイトルのCSS</h5>
<h5>レイアウトが未着手</h5>
