<div class="container">
    <h4 class="m-4"><span style="background-color:#eeeeee">
                    <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span></h4>
</div>
<div class="container">
   <div class="row">
      <div class="col-8">
        <table class=" table table-borderless">
          <tbody>

      <%= form_with model: @customer, url: admin_customer_path(@customer.id), local:true do |f| %>
      <tr>
        <td>会員ID</td>
        <td><%= f.label :"#{@customer.id}" %></td>
      </tr>

      <tr>
        <td><%= f.label :"氏名" %></td>
        <td><%= f.text_field :last_name %>
            <%= f.text_field :first_name %></td>
      </tr>

      <tr>
        <td><%= f.label :"カタカナ" %></td>
        <td><%= f.text_field :last_name_kana %>
            <%= f.text_field :first_name_kana %></td>
      </tr>

      <tr>
        <td><%= f.label :"郵便番号" %></td>
        <td><%= f.text_field :postcode %></td>
      </tr>

      <tr>
        <td><%= f.label :"住所" %></td>
        <td><%= f.text_field :address %></td>
      </tr>

      <tr>
        <td><%= f.label :"電話番号" %></td>
        <td><%= f.text_field :phone_number %></td>
      </tr>

      <tr>
        <td><%= f.label :"メールアドレス" %></td>
        <td><%= f.text_field :email %></td>
      </tr>

      <tr>
        <td><%= f.label :"会員ステータス" %></td>
        　<td><%= f.radio_button :is_closed, true %>
        　     <%= f.label :is_closed, "有効" %>
        　     <%= f.radio_button :is_closed, false %>
        　     <%= f.label :is_closed, "退会済" %></td>
      </tr>
    </tbody>

      <tr>
       <td></td>
       <td><%= f.submit "変更を保存する", class: "btn btn-outline-success" %></td>

      </tr>

       </table>
    <% end %>
  </div>
</div>