<h1>顧客編集画面</h1>
<div>
  <div>
    <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
      <div>
      <%= form_with model: ~~ do |f| %>
      <div>
        <%= f.label :"会員ID" %>
        <%= f.label :"#{@customer.id}" %>
      </div>

      <div>
        <%= f.label :"氏名" %>
        <%= f.text_field :last_name %>
        <%= f.text_field :first_name %>
      </div>

      <div>
        <%= f.label :"カタカナ" %>
        <%= f.text_field :last_name_kana %>
        <%= f.text_field :first_name_kana %>
      </div>

      <div>
        <%= f.label :"郵便番号" %>
        <%= f.text_field :postcode %>
      </div>

      <div>
        <%= f.label :"住所" %>
        <%= f.text_field :address %>
      </div>

      <div>
        <%= f.label :"電話番号" %>
        <%= f.text_field :phone_number %>
      </div>

      <div>
        <%= f.label :"メールアドレス" %>
        <%= f.text_field :email %>
      </div>

      <div>
        <%= f.label :"会員ステータス" %>
        　<%= f.radio_button :is_closed, true %>
        　<%= f.label :is_closed, "有効" %>
        　<%= f.radio_button :is_closed, false %>
        　<%= f.label :is_closed, "退会済" %>
      </div>
      <div>
        <%= f.submit '変更を保存する' %>
      </div>
      </div>
      <% end %>
  </div>
</div>