<div class="container">
  <div class="row">
    <h4 class="m-4"><span style="background-color:#dddddd">
                   <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
                   </span></h4>
      <div class="col-md-10">
          <table class="row mb-3">

              <div>
                会員ID
                <%= @customer.id %>
              </div>

              <div>
                氏名
                <%= @customer.last_name %><%= @customer.first_name %>
              </div>
              
              <div>
                フリガナ
                <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
              </div>
              
              <div>
                郵便番号
                <%= @customer.postcode %>
              </div>
              
              <div>
                住所
                <%= @customer.address %>
              </div>
              
              <div>
                電話番号
                <%= @customer.phone_number %>
              </div>
          
              <div>
                メールアドレス
                <%= @customer.email %>
              </div>
            
              <div>
                会員ステータス
              　<% if @customer.is_closed == true %>
              　<p>有効</p>
                <% else %>
                <p>退会</p>
                <% end %>
              </div>
            </tr>
            <tr>
              <td>
              <%= link_to "編集する",edit_admin_customer_path(@customer), class: "btn btn-outline-success" %>
              <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-outline-primary" %>
             </td>
            </tr>
          </table>
      </div>
  </div>
</div>