<div class="container">
  <div class="row">
    <h4 class="m-4"><span style="background-color:#eeeeee">
                   <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
                   </span></h4>
      <div class="col-md-10">
          <table class="row mb-3">

              <div style= "line-height: 2em">
                会員ID
                <%= @customer.id %>
              </div>

              <div style= "line-height: 2em">
                氏名
                <%= @customer.last_name %><%= @customer.first_name %>
              </div>

              <div style= "line-height: 2em">
                フリガナ
                <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
              </div>

              <div style= "line-height: 2em">
                郵便番号
                <%= @customer.postcode %>
              </div>

              <div style= "line-height: 2em">
                住所
                <%= @customer.address %>
              </div>

              <div style= "line-height: 2em">
                電話番号
                <%= @customer.phone_number %>
              </div>

              <div style= "line-height: 2em">
                メールアドレス
                <%= @customer.email %>
              </div>

              <div style= "line-height: 2em">
                <tr>会員ステータス</tr>
              　<% if @customer.is_closed == true %>
              　<tr>有効</tr>
                <% else %>
                <tr>退会</tr>
                <% end %>
              </div>
              <br>
              <br>
              <div style= "line-height: 2em">
              <%= link_to "編集する",edit_admin_customer_path(@customer), class: "btn btn-success" %>
              <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
          　   </div>

          </table>
      </div>
  </div>
</div>