<h5>配送先編集</h5>

<div>
  <%= form_with model: @address, url: address_path(@address.id), method: :patch do |f| %>
  <div>
    <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postcode, placeholder: "0000000" %>
  </div>
  <div>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>
  <div>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name, placeholder: "山田太郎" %>
  </div>
  <div>
    <%= f.submit "変更内容を保存" %>
  </div>
  <% end %>
</div>