<div class="container">
  <div class="row">
    <div class= col-4>
       <h4 class="m-4"><span style="background-color:#eeeeee">ショッピングカート</span></h4>
    </div>

    <div class= "col-5"></div>

    <div class="col-3">
      <p class="my-4"><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-11">
      <table class="table table-bordered">
        <thead class=" thead-light ">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th style="width:15%"></th>
        </thead>

        <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price.to_s(:delimited) %> 円</td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
                <%= f.select :quantity, *[1..100], {selected: cart_item.quantity} %>
                <%= f.submit "変更" %>
              <% end %>
            </td>
            <td><%= cart_item.subtotal.to_s(:delimited) %>　円</td>
            <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>

  <!--合計金額-->
<div class="container">
  <div class="row">
    <div class="col-4">
        <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
    </div>
    <div class="col-4">
    </div>
    <div class="col-3">
      <table class="table table-bordered" >
        <tr>
          <td class=" bg-light ">合計金額</td>
          <td><%= @cart_total.to_s(:delimited) %> 円</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<br>

<div class="row justify-content-center">
  <% if @cart_count !=0 %>
    <%= link_to "情報入力画面に進む", new_order_path, class:"btn btn-success" %>
  <% end %>
</div>