<h1>注文情報確認画面</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込み)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>

    <tbody>
      <% @customer.carts.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.with_tax_price %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= cart_item.subtotal %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <table>
    <tbody>
      <tr>
        <td>送料</td>
        <td><%= @shipping_cost %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @cart_total %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <td><%= @grand_total %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <spn>支払方法</spn>
  <span><%= @confirm_payment_method %></span>
</div>
<div>
  <span>お届け先</span><br>
  <spam>
    〒<%= @selected_address.postcode %><br>
    <%= @selected_address.address %><br>
    <%= @selected_address.name %><br>
  </span>
</div>

<div>
  <%= form_with model: @order, method: :post do |f| %>
    <%= f.hidden_field :payment_method, :value => @confirm_payment_method %>
    <%= f.hidden_field :postcode, :value => @selected_address.postcode %>
    <%= f.hidden_field :address, :value => @selected_address.address %>
    <%= f.hidden_field :name, :value => @selected_address.name %>
    <%= f.submit "注文を確定する" %>
  <% end %>
</div>