<div class ="container py-3">
  <h4><span class ="be-light px-3">注文情報入力</span></h4>


    <div class ="row">
      <div class ="col-md-12 mt-4 mb-4">
        <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
          <div>
            <h4><strong>支払方法</strong></h4>
            <div class ="col-md-12">
              <span class ="ml-5">
              <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
              </span>

              <span class ="ml-5">
              <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %><br>
              </span>
            </div>
          </div>

          <div>
            <h4><strong>お届け先</strong></h4>
            <div class ="col-md-12">
              <div class ="ml-5">
                <%= f.radio_button :select_address, "ご自身の住所", checked: true %>
                <%= f.label :select_address, "ご自身の住所" %><br>
                  <span class ="ml-4">〒<%= @customer.postcode %><br></span>
                  <span class ="ml-4"><%= @customer.address %><br></span>
                  <span class ="ml-4"><%= @customer.last_name %><%= @customer.first_name %><br></span>
              </div>

              <div class ="ml-5">
                <%= f.radio_button :select_address, "登録住所から選択" %>
                <%= f.label :select_address, "登録住所から選択" %><span style ="color: red;"><%= flash[:registered] %></span><br>
                <span class ="ml-4">
                  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display),{} %><br>
                </span>
              </div>

              <div class ="ml-5">
                <%= f.radio_button :select_address, "新しいお届け先" %>
                <%= f.label :select_address, "新しいお届け先" %><span style ="color: red;"><%= flash[:new] %></span><br>

                <table class ="table table-borderless">
                  <tbody>
                    <tr>
                      <td class ="col-2">
                        <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
                      </td>
                      <td class ="col-8">
                        <%= f.text_field :postcode %><br>
                      </td>
                    </tr>

                    <tr>
                      <td class ="col-2">
                        <%= f.label :address, "住所" %>
                      </td>
                      <td class ="col-8">
                        <%= f.text_field :address, :size =>"60" %><br>
                      </td>
                    </tr>

                    <tr>
                      <td class ="col-2">
                        <%= f.label :name, "宛名" %>
                      </td>
                      <td class ="col-8">
                        <%= f.text_field :name %><br>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class ="text-center">
                <%= f.submit "確認画面へ進む", class:"btn btn-outline-primary" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
</div>