<div class ="container py-5">
  <h4><span class ="be-light px-3">注文履歴詳細</span></h4>

  <div class ="row pt-3">
    <div class ="col-md-7">
      <h4><strong>注文情報</strong></h4>
      <table class="table table-bordered col-8">
        <tbody>
          <tr>
            <td class ="bg-light">注文日</td>
            <td>
              <%= @order.created_at.strftime("%Y/%m/%d") %>
            </td>
          </tr>
          <tr>
            <td class ="bg-light">配送先</td>
            <td>
              〒<%= @order.postcode %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td class ="bg-light">支払方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td class ="bg-light">ステータス</th>
            <td><%= @order.order_status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class ="col-md-5">
      <h4><strong>請求情報</strong></h4>
      <table class="table table-bordered col-7">
        <tbody>
          <tr>
            <td class ="bg-light">商品合計</td>
            <td><%= (@order.grand_total - @order.shipping_cost) %></td>
          </tr>
          <tr>
            <td class ="bg-light">配送料</td>
            <td><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <td class ="bg-light">ご請求額</td>
            <td><%= @order.grand_total %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class ="row">
      <div class ="col-md-12">
        <h4><strong>注文内容</strong></h4>
        <table class="table table-bordered">
          <thead class ="bg-light">
            <tr>
              <th>商品</th>
              <th>単価(税込)</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>

          <tbody>
            <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.with_tax_price %></td>
              <td><%= order_detail.quantity %></td>
              <td><%= (order_detail.item.with_tax_price)*(order_detail.quantity) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>