<div class="container">
  <div class="row pt-5">
    <div class="col-xl-8 ml-auto">
    <%= form_with model: @customer, url: customer_session_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
      <h5>ログイン</h5><br/>
      <p>会員の方はこちらからログイン</p>
      <tr></tr>
      <table>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" ,:size=>"40"%></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current_password" ,:size=>"40" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary ml-5" %></td>
        </tr>
      </table>
          <% end %>
      <table>
        <h5>会員登録がお済みでない方</h5>
        <p><%= render "public/shared/links" %>から新規登録を行なってください。</p>
      </table>
    </div>
  </div>
</div>


