<h1>商品一覧（全 <%= @item.count %> 件）</h1>

<% @items.each do |item| %>
<div>
  <%= image_tag item.get_image(100,100) %>
  <p>
    <%= link_to item_path(item.id) do %>
      <%= item.name %>
    <% end %>
  </p>
  <p>￥<%= item.price %>円</p>
</div>
<% end %>

<%= paginate @items %>