<div class="container m-5">
  <div class="row">
    <div class="text-center col-sm-5">
      <%= image_tag @item.get_image(350,350)%>
    </div>
    <div class="col-sm-7">
      <table class="table table-borderless">
        <tr>
          <td><h3><%= @item.name  %></h3></td>
        </tr>
        <tr>
          <td><h6><%= @item.introduction %></h6></td>
        </tr>
        <tr>
          <td><h3>¥<%= @item.price %></h3></td>
        </tr>
        <tr>
          <td>
            <%= form_with model: @cart_item, url: carts_path, method: :post do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :quantity, *[1..10] , include_blank: "個数選択"%>
              <%= f.submit 'カートに入れる', class: "btn btn-success text-right ml-4" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

