<div>
  <%= image_tag @item.get_image(200,200) %>
  <p><%= @item.name %></p>
  <p><%= @item.introduction %></p>
  <p>￥<%= @item.price %>円</p>

  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :quantity, *[1..10] %>
    <%= f.submit 'カートに入れる' %>
  <% end %>
</div>