<div>
  <%= image_tag @item.get_image %>
  <p>商品名:<%= @item.name %></p>
  <p>説明文:<%= @item.introduction %></p>
  <p>値段:<%= @item.price %></p>

  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :quantity, *[1..10] %>
    <%= f.submit 'カートに入れる' %>
  <% end %>
</div>